.container {
  padding: 0 2rem;
}

 /**************************
 Common Css starts from here
 ***************************/
 
 h1.heading {
    background: black;
    color: crimson;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.card p {
  background: #0c0c0c;
  padding: 20px 10px;
  width: 50%;
  margin: 20px auto;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.card p a {
  padding: 8px 10px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
}

.card p a:hover {
  background-color: rgb(156, 8, 38);
  transition: .3s;
}

.heading{
  color: crimson;
  text-align: center;
}


.singleCard{
  background: #0e0e0e;
  color: #fff;
  padding: 20px 30px;
  width: 40%;
  margin: auto;
  border-radius: 5px;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
